main {
    display: flex;
    flex-grow: 1;
}

.menu {
    width: 15vw;
}

[class^='carousel'] {
    z-index: 0;
    // border: 1px solid white;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.carousel-spinner {
    justify-content: center;
    align-items: center;
}
.gallery{
    z-index: 0;
    transition: all 0.2s;
    // border: 1px solid red;
    height: 100%;
    flex-grow: 1;
    display: flex;
    position: absolute;
    left:0px;
}

article{
    display: flex;
    width: 85vw;
    // border: 1px solid blue;
    justify-content: center;

    .container{
        // border: 1px solid purple;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-flow: column;
    }
}
.image{
    // border: 1px green solid;
    min-width: 320px;
    min-height: 50px;
    overflow: hidden;
}


.arrow{
    // flex-grow: 1;
    // flex: 1;
    z-index: 1;
    align-self: center;
}


.bubbles {
    // z-index: 5;
    display: flex;
    position: absolute;
    align-self: flex-start;
    [class^='bubble'] {
        transition: all 0.2s;
        background: gray;
        border-radius: 50%;
        width: .75rem;
        height: .75rem;
    }
    .bubble:hover {
        background: darkgray;
        cursor: pointer;
    }
    [class^='bubble-active'] {
        background: white;
    }
}
