//colors

//media queries
$media: (
'(max-width: 340px)',
'(max-width: 640px)',
'(max-width: 1400px)'
);

//classes
%flexrow{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
